body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1035px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:621px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:62px;
  width:968px;
  height:621px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:530px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:153px;
  width:185px;
  height:530px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:256px;
  width:181px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:621px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:62px;
  width:193px;
  height:621px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:270px;
  width:189px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:568px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:115px;
  width:590px;
  height:568px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:586px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:91px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:62px;
  width:185px;
  height:91px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:181px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:18px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:683px;
  width:968px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:964px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:53px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:62px;
  width:783px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:779px;
  word-wrap:break-word;
}
